<dx-select-box
 id="parse-behavior"
 [items]="items"
 [width]="300"
 displayExpr="Text"
 valueExpr="Value"
 [(value)]="selectBoxValue"
>
</dx-select-box>
<dx-date-box
  id="date"
  [value]="now"
  type="date"
  [width]="300"
  label="Date with the short year"
  [displayFormat]="format"
>
</dx-date-box>
<dx-data-grid
  id="grid"
  [dataSource]="employees"
  [width]="400"
  keyExpr="ID"
  [showBorders]="true"
>
  <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
  <dxi-column dataField="FirstName"></dxi-column>
  <dxi-column dataField="LastName"></dxi-column>
  <dxi-column
    dataField="BirthDate"
    dataType="date"
    [editorOptions]="editorOptions"
  ></dxi-column>
</dx-data-grid>
